.book-wrap {
                    display: flex;
                    flex-wrap: wrap;
                  }
                  
                  .book-wrap div {
                    width: 20%;
                    border: 1px black solid;
                  }